@model WebApplication.Models.EditareCarte

@{
    ViewBag.Title = "AddCarte";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <style>
        div.container {
            width: 100%;
            border: 0px solid gray;
        }

        header, footer {
            padding: 1em;
            color: white;
            background-color: black;
            clear: left;
            text-align: center;
        }

        nav {
            float: left;
            max-width: 160px;
            margin: 0;
            padding: 1em;
        }

            nav ul {
                list-style-type: none;
                padding: 0;
            }

                nav ul a {
                    text-decoration: none;
                }

        article {
            margin-left: 170px;
            border-left: 1px solid gray;
            padding: 1em;
            overflow: hidden;
        }
    </style>
</head>
<header>
    <h2>Add Carte</h2>
    </header>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>EditareCarte</h4>
                <hr />
                @Html.ValidationSummary(true)
                <div class="form-group">
                    @Html.LabelFor(model => model.Titlu, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Titlu)
                        @Html.ValidationMessageFor(model => model.Titlu)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Nume, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Nume)
                        @Html.ValidationMessageFor(model => model.Nume)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Prenume, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Prenume)
                        @Html.ValidationMessageFor(model => model.Prenume)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Gen, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Gen)
                        @Html.ValidationMessageFor(model => model.Gen)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Numar, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Numar)
                        @Html.ValidationMessageFor(model => model.Numar)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Raft, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Raft)
                        @Html.ValidationMessageFor(model => model.Raft)
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Rand, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Rand)
                        @Html.ValidationMessageFor(model => model.Rand)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Poz, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Poz)
                        @Html.ValidationMessageFor(model => model.Poz)
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.identificare, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.identificare)
                        @Html.ValidationMessageFor(model => model.identificare)
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Create" class="btn btn-default" />
                    </div>
                </div>
            </div>
        }
