@model WebApplication.Models.ReturnareCarte

@{
    ViewBag.Title = "Returnare";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Returnare</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Returnare Carte</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titlu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Titlu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
        </div>
    }
</div>
